@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;

  font-family: Cambay;

}

.word-typing {
  display: inline-block;
  overflow: hidden;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.about-img{
  background: url("./components/images/background.jpeg");
}

.about{
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.109); /* Add a background color with some transparency for the blur to work effectively */
}

.advantage{
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.531);
}